<!DOCTYPE html>
<html>
<head>
<title>Team and Heroes!</title>
</head>

<body>
<h1><%= @team.name %></h1>
<h3><%= @team.motto %></h3>

<% @heroes.each do |hero| <%>
<%= "Hero Name:" hero.name <%>
<%= "Hero Power:" hero.power <%>
<%= "Hero Biography:" bio.biography <%>
<% end %>

</body>
</html>
