<!DOCTYPE html>
<html>
<head>
<title>Team and Heroes!</title>
</head>

<body>
<h1><%= team.name %></h1>
<h3><%= "Team Motto" %></h3>

<h2><%= "Hero Name:" %></h2>
<%= "Hero Power" %></br>
<%= "Hero Biography:"  %></br>

</body>
</html>
